header{
	background-image: url("../images/header-image.JPG");
	text-align: center;
	font-size: 85px;
	color: #FF0000;
	font-family: "Monoton", cursive;
	margin: 15px;
}

body{
	background-image: url("../images/background-image.JPG");
	background-repeat: no-repeat;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 20px;
	color: #FF0000;
}

.startButton{
	margin-left: 43%
}

#display{
	text-align: center;
	font-size: 75px;

}

.quizArea{
	text-align: center;
	margin: 25px auto;

}

